<div class="modal fade bs-example-modal-sm" id="myModal-exporthosts-{{@event.eid?@event.eid:@PARAMS.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid?@event.eid:@PARAMS.eid}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bornon texalilef">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel-{{@event.eid?@event.eid:@PARAMS.eid}}">
                    <i class="glyphicon glyphicon-info-sign"></i> {{ ucfirst(@export[@l]) }} {{ isset(@stats) ? @stats[@event.eid]->nbHostsTotal : @les[@l] }} {{ @hosts_at_event[@l] }} 
                </h4>
            </div>
            <form action="{{ @BASE.'/event/'.(@event.eid?@event.eid:@PARAMS.eid).'/export/hosts' }}" method="post" class="form-export" role="form" id="form-exporthosts-{{@event.eid?@event.eid:@PARAMS.eid}}">
                <div class="modal-footer bornon padtopnon martopnon">
                    <input type="hidden" name="ex" value="host" />
                    <input type="hidden" name="eid" value="{{@event.eid?@event.eid:@PARAMS.eid}}">
                    <input type="hidden" name="l" value="{{@SESSION.crp}}">
                    <div class="spinner dark" id="export-loading-hosts"></div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{ @cancel[@l] }}
                    </button>
                    <button class="btn btn-info" type="submit">
                        {{ @event_host_export_confirm[@l] }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>