<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sidebar">
    <div class="logo logo-md hidden-xs pull-left">
        <a href="/" class="texalicen widful">
            <img src="{{ @BASE.'/'.@IMG }}b-md.png" class="img-responsive disinl" />
        </a>
    </div>
    <div class="logo logo-sm visible-xs pull-left">
        <a href="/" class="disblo pull-left texalicen widful">
            <img src="{{ @BASE.'/'.@IMG }}b-sm.png" class="img-responsive disinl" />
        </a>
    </div>
    <ul class="nav nav-sidebar pull-left">

        <!-- user inputs -->
        <li class="welcome {{ (preg_match('/(profil)|(user)/i', @PATTERN) && isset(@PARAMS.uid) ? (@SESSION.uid==@PARAMS.uid ? ' active' : '') : '') }}">
            <a class="disinl" href="/user/{{ @SESSION.uid }}/show">
                <i class="glyphicon glyphicon-user"></i>  <span class="hidden-xs nom textraupp padlef5">{{ @SESSION.profile.nom }}</span> <span class="hidden-xs prenom textracap">{{ @SESSION.profile.prenom }}</span>
                <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{@user_profile[@l]}} de {{@SESSION.profile.nom}} {{@SESSION.profile.prenom}}">&nbsp;</small><br>
                <small class="hidden-xs widful disblo texalicen">{{ @goto_profile[@l] }}</small>
            </a>
        </li>

        <!-- admin home -->
        <check if="{{ @SESSION.lvl<=2 }}">
            <true>
                <check if="{{ @PATTERN!='/' }}">
                    <li class=" cat">
                        <a href="{{ @BASE.'/' }}" class="">
                            <i class="glyphicon glyphicon-home glyphicon-black"></i>
                            <span class="texte padlef5 hidden-xs">
                                {{ @home_page[@l] }}
                            </span>
                            <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @home_page[@l] }}">&nbsp;</small>
                        </a>
                    </li>
                </check>
            </true>
        </check>

        <!-- events list -->
        <li class=" cat{{ preg_match('/event/i', @PATTERN) ? ' active': '' }}">
            <a href="{{ @BASE.'/events' }}" class="">
                <i class="glyphicon glyphicon-time glyphicon-black"></i>
                <span class="texte padlef5 hidden-xs">
                    {{ @events_list[@l] }}
                </span>
                <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @events_list[@l] }}">&nbsp;</small>
            </a>
        </li>

        <!-- event create | update -->
        <check if="{{  @SESSION.lvl<=2 }}">
        <true>

            <!-- event create -->
            <check if="{{ preg_match('/\/events/i',@PATTERN) }}">
                <li class="inner{{ @PATTERN=='/event/create' ?' subactive':'' }}">
                    <a href="{{ @PATTERN=='/event/create' ? 'javascript:void()' : @BASE.'/event/create' }}" class="">
                        <i class="glyphicon glyphicon-record glyphicon-black"></i>
                        <span class="texte padlef5 hidden-xs">
                            {{ @event_create[@l] }}
                        </span>
                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_create[@l] }}">&nbsp;</small>
                    </a>
                </li>
            </check>

            <!-- event update -->
            <check if="{{ preg_match('/\/event\/u/i',@PATTERN) }}">
                <li class="inner subactive">
                    <a href="javascript:void(0);" class="">
                        <i class="glyphicon glyphicon-refresh glyphicon-black"></i>
                        <span class="texte padlef5 hidden-xs">
                            {{ @event_update[@l] }}
                        </span>
                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_update[@l] }}">&nbsp;</small>
                    </a>
                </li>
            </check>
        </true>
        </check>

        <!-- event guest,host add | import | export -->
        <check if="{{ @SESSION.lvl<=3 }}">
            <check if="{{ strstr(@PATTERN,'eid') || strstr(@PATTERN,'eventid') }}">
                <check if="{{ ( strstr(@PATTERN,'guest') || (strstr(@PATTERN,'status') && @PARAMS.status=='guests') ) || @SESSION.lvl==3 }}">
                    <check if="{{ !isset(@isold) || @isold==false }}">
                        <true>

                            <!-- event guests list -->
                            <li class="inner{{ preg_match('/(show\/guests)|(add\/acc)|(add\/repr)/',@PATTERN) ? ' subactive': '' }}">
                                <a href="{{ '/event/'.@PARAMS.eid.'/show/guests' }}" class="veralimid texdecnon">
                                    <i class="glyphicon glyphicon-align-left glyphicon-black"></i>
                                    <span class="texte padlef5 hidden-xs">{{ @event_guest_list[@l] }}</span>
                                    <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_guest_list[@l] }}">&nbsp;</small>
                                </a>
                            </li>

                            <check if="{{ @SESSION.c != 0 }}">
                                <!-- event guest add -->
                                <li class="inner{{ strstr(@PATTERN, 'add/guest')==true ? ' subactive': '' }}">
                                    <a href="{{ '/event/'.@PARAMS.eid.'/add/guest' }}" class="veralimid texdecnon">
                                        <i class="glyphicon glyphicon-plus-sign glyphicon-black"></i>
                                        <span class="texte padlef5 hidden-xs">{{ @event_guest_add[@l] }}</span>
                                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_host_add[@l] }}">&nbsp;</small>
                                    </a>
                                </li>

                                <!-- event guest add new -->
                                <li class="inner{{ strstr(@PATTERN, 'add/new/guest')==true ? ' subactive': '' }}">
                                    <a href="{{ '/event/'.@PARAMS.eid.'/add/new/guest' }}" class="veralimid texdecnon">
                                        <i class="glyphicon glyphicon-star glyphicon-black"></i>
                                        <span class="texte padlef5 hidden-xs">{{ @event_guest_add_new[@l] }}</span>
                                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_guest_add[@l] }}">&nbsp;</small>
                                    </a>
                                </li>

                                <!-- event guest import -->
                                <li class="inner{{ strstr(@PARAMS[0], 'import/guests') ? ' subactive': '' }}">
                                    <a href="{{ '/event/'.@PARAMS.eid.'/import/guests' }}" class="veralimid texdecnon">
                                        <i class="glyphicon glyphicon-import glyphicon-black"></i>
                                        <span class="texte padlef5 hidden-xs">{{ @event_guests_import[@l] }}</span>
                                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_guests_import[@l] }}">&nbsp;</small>
                                    </a>
                                </li>
                            </check>
                        </true>
                    </check>
                    <check if="{{ @SESSION.c > 0 && @SESSION.lvl <= 3 }}">
                         <!-- event guest export -->
                         <li class="inner{{ strstr(@PARAMS[0], 'export/guests') ? ' subactive': '' }}">
                             <!--<a href="{{ F3::ROUTE('GET /toto','UploadContactsController->processDownLoad'); }}" class="veralimid texdecnon">-->
                             <a href="{{ '/event/'.@PARAMS.eid.'/export/guests' }}" class="veralimid texdecnon">
                                <i class="glyphicon glyphicon-export glyphicon-black"></i>
                                 <span class="texte padlef5 hidden-xs">{{ @event_guests_export[@l] }}</span>
                                 <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_guests_export[@l] }}">&nbsp;</small>
                             </a>
                         </li>
                    </check>
                </check>
                <check if="{{ strstr(@PATTERN,'host') || (strstr(@PATTERN,'status') && @PARAMS.status=='hosts') }}">
                    <check if="{{ !isset(@isold) || @isold==false }}">
                        <true>

                            <!-- event hosts list -->
                            <li class="inner{{ strstr(@PATTERN, '/show/hosts')==true ? ' subactive': '' }}">
                                <a href="{{ '/event/'.@PARAMS.eid.'/show/hosts' }}" class="veralimid texdecnon">
                                    <i class="glyphicon glyphicon-align-left glyphicon-black"></i>
                                    <span class="texte padlef5 hidden-xs">{{ @event_host_list[@l] }}</span>
                                    <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_host_list[@l] }}">&nbsp;</small>
                                </a>
                            </li>

                            <check if="{{ @SESSION.c != 0 }}">
                                <!-- event host add -->
                                <li class="inner{{ strstr(@PATTERN, 'add/host')==true ? ' subactive': '' }}">
                                    <a href="{{ '/event/'.@PARAMS.eid.'/add/host' }}" class="veralimid texdecnon">
                                        <i class="glyphicon glyphicon-plus-sign glyphicon-black"></i>
                                        <span class="texte padlef5 hidden-xs">{{ @event_host_add[@l] }}</span>
                                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_host_add[@l] }}">&nbsp;</small>
                                    </a>
                                </li>

                                <!-- event host add new -->
                                <li class="inner{{ strstr(@PATTERN, 'add/new/host')==true ? ' subactive': '' }}">
                                    <a href="{{ '/event/'.@PARAMS.eid.'/add/new/host' }}" class="veralimid texdecnon">
                                        <i class="glyphicon glyphicon-star glyphicon-black"></i>
                                        <span class="texte padlef5 hidden-xs">{{ @event_host_add_new[@l] }}</span>
                                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_host_add_new[@l] }}">&nbsp;</small>
                                    </a>
                                </li>

                                <!-- event host import -->
                                <li class="inner{{ strstr(@PARAMS[0], 'import/hosts') ? ' subactive': '' }}">
                                    <a href="{{ '/event/'.@PARAMS.eid.'/import/hosts' }}" class="veralimid texdecnon">
                                        <i class="glyphicon glyphicon-import glyphicon-black"></i>
                                        <span class="texte padlef5 hidden-xs">{{ @event_hosts_import[@l] }}</span>
                                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_hosts_import[@l] }}">&nbsp;</small>
                                    </a>
                                </li>
                            </check>
                        </true>
                        <false>

                        </false>
                    </check>
                    <check if="{{ @SESSION.c > 0 && @SESSION.lvl == 1 }}">
                        <!-- event host export -->
                        <li class="inner{{ strstr(@PARAMS[0], 'export/hosts') ? ' subactive': '' }}">
                            <!--<a href="{{ F3::ROUTE('GET /toto','UploadContactsController->processDownLoad'); }}" class="veralimid texdecnon">-->
                             <a href="{{ '/event/'.@PARAMS.eid.'/export/hosts' }}" class="veralimid texdecnon">
                                <i class="glyphicon glyphicon-export glyphicon-black"></i>
                                 <span class="texte padlef5 hidden-xs">{{ @event_guests_export[@l] }}</span>
                                 <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @event_guests_export[@l] }}">&nbsp;</small>
                             </a>
                        </li>
                    </check>
                </check>
            </check>

        </check>

        <!-- user list -->
        <check if="{{ @SESSION.lvl<=2 }}">
            <li class=" cat{{ (preg_match('/(users\/list)|(uid\/show)|(uid\/update)/i', @PATTERN) && ((isset(@PARAMS.uid) && @SESSION.uid!=@PARAMS.uid) || !isset(@PARAMS.uid)) ? ' active' : '') }}">
                <a href="{{ @BASE.'/users/list' }}" class="">
                    <i class="glyphicon glyphicon-th-list glyphicon-black"></i>
                    <span class="texte padlef5 hidden-xs">
                        {{ @user_list[@l] }}
                    </span>
                    <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @user_list[@l] }}">&nbsp;</small>
                </a>
            </li>

            <!-- groups -->
            <li class=" cat{{ preg_match('/group/i',@PATTERN) ?' active':'' }}">
                <a href="{{ @BASE.'/groups' }}" class="">
                    <i class="glyphicon glyphicon-list-alt glyphicon-black"></i>
                    <span class="texte padlef5 hidden-xs">
                        {{ ucfirst(@group_list[@l]) }}
                    </span>
                    <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @group_list[@l] }}">&nbsp;</small>
                </a>
            </li>

            <!-- group create -->
            <check if="{{ preg_match('/\/group/i',@PATTERN) }}">
                <li class="inner{{ @PATTERN=='/group/create' ? ' subactive': '' }}">
                    <a href="{{ @PATTERN=='/group/create' ? 'javascript:void()' : @BASE.'/group/create' }}" class="">
                        <i class="glyphicon glyphicon-plus-sign glyphicon-black"></i>
                        <span class="texte padlef5 hidden-xs">
                            {{ @group_create[@l] }}
                        </span>
                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @group_create[@l] }}">&nbsp;</small>
                    </a>
                </li>
            </check>

            <!-- group update -->
            <check if="{{ preg_match('/\/group\/(.*)\/update/i',@PATTERN) }}">
                <li class="inner subactive">
                    <a href="javascript:void(0);" class="">
                        <i class="glyphicon glyphicon-refresh glyphicon-black"></i>
                        <span class="texte padlef5 hidden-xs">
                            {{ @group_update[@l] }}
                        </span>
                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @group_update[@l] }}">&nbsp;</small>
                    </a>
                </li>
            </check>

            <!-- group show -->
            <check if="{{ preg_match('/group\/(.*)\/(add|show)/i',@PATTERN) }}">
                <li class="inner{{ preg_match('/group\/(.*)\/add/i',@PATTERN) ? ' subactive' : ''  }}">
                    <a href="{{ preg_match('/group\/(.*)\/show/i',@PARAMS[0]) ? preg_replace('/(show.*)/i','add/user', @PARAMS[0]) : @PARAMS[0] }}" class="">
                        <i class="glyphicon glyphicon-list glyphicon-black"></i>
                        <span class="texte padlef5 hidden-xs">
                            {{ @add_group_member[@l] }}
                        </span>
                        <small class="visible-xs heiful widful has-tip-right posabs postop0 poslef0" title="{{ @add_group_member[@l] }}">&nbsp;</small>
                    </a>
                </li>
            </check>
        </check>
    </ul>
</div>