<form action="{{ @BASE.'/event/'.@event.eid.'/guest/'.@guest.userID.'/invitation/'.@iid.'/add/repr'}}" method="post" class="form-update" role="form">

    <h2 class="page-heading marbotnon">
        <a href="{{ @BASE.'/event/'.@event.eid.'/show' }}">
            <span class="textracap">{{ @eventname[@l] }}</span> : {{ @event.nom }}&nbsp;<i class="glyphicon glyphicon-chevron-right padlef10"></i>
        </a>
    </h2>
    <small class="dimgra"><span class="textraupp">{{ @starting_at[@l] }}</span> : {{ Controller::displayDate(@event.debut) }}</small>
    <br>
    <small class="dimgra"><span class="textraupp">{{ @limit_displayed[@l] }}</span> : {{ Controller::displayDate(@event.limitB) }}</small>
    <br>
    <check if="{{ isset(@SESSION.errors) && count(@SESSION.errors)>0 }}">
        <br>
        <include href="globalerrors.htm" />
    </check>
    <check if="{{ isset(@SESSION.msg) && strlen(@SESSION.msg)>1 }}">
        <br>
        <include href="forminfos.htm" />
    </check>

    <h3 class="pull-left disblo widful page-subheading padtop20">
        {{ @add_representative_for[@l].' '.ucfirst(@guest.prenom).' '.strtoupper(@guest.nom) }}
    </h3>

    <input name="civilite" type="text" class="form-control first" placeholder="{{ @gender[@l] }}" value="{{ (@post_has_data && @post_has_data['civilite']?@post_has_data['civilite']:'') }}" required />

    <input name="nom" type="text" class="form-control middle" placeholder="{{ @name[@l] }}" value="{{ (@post_has_data && @post_has_data['nom']?@post_has_data['nom']:'') }}" required />

    <input name="prenom" type="text" class="form-control middle" placeholder="{{ @firstname[@l] }}" value="{{ (@post_has_data && @post_has_data['prenom']?@post_has_data['prenom']:'') }}" required />

    <input name="email" type="email" class="form-control last" placeholder="{{ @user_mail[@l] }}" value="{{ (@post_has_data && @post_has_data['email']?@post_has_data['email']:'') }}" required />

    <input type="hidden" name="addRepr" value="add" />

    <a class="btn btn-default" href="{{ @BASE.'/event/'.@event.eid.'/show/guests' }}">
        {{ @cancel[@l] }}
    </a>
    <button class="btn btn-success" type="submit">
        <small class="glyphicon glyphicon-plus"></small> {{ @representative_add[@l] }}
    </button>

    <div class="widful"><br></div>

</form>