<h2 class="page-heading">
    {{ @page_header }}
</h2>

<check if="{{ isset(@SESSION.msg) && strlen(@SESSION.msg)>1 }}">
    <true>
        <include href="forminfos.htm" />
    </true>
</check>

<repeat group="{{ @lists }}" key="{{ @annee }}" value="{{ @events }}" counter="{{ @ctr }}">
    <h3 class="pull-left disblo widful{{ @ctr > 1 ? ' grid-group-heading':'' }}">{{ @annee }}</h3>
    <repeat group="{{ @events }}" key="{{ @key }}" value="{{ @event }}" counter="{{@ct}}">
        <div class="pull-left col-md-4 col-lg-4 panel-grid{{ @event.status==3?' deactivated':(@event.status==2?' maintenance':'') }}{{ ' grid'.@ct%3 }}{{ @ct%2==0?' even':' odd' }}">
            <div class="panel panel-default panel-{{ @event.eid }}">
                <div class="head-block lv{{@SESSION.lvl}}">
                    <div class="panel-heading">
                        <check if="{{ @SESSION.lvl<=3 }}">
                            <true>
                                <a href="{{ @BASE.'/event/'.@event.eid.'/show' }}">{{ @event.nom }}</a>
                            </true>
                            <false>
                                {{ @event.nom }}
                            </false>
                        </check>
                        <check if="{{ @event.status==2 }}">
                            <true>
                                <div class="maintenance-mode">
                                    <i class="glyphicon glyphicon-ban-circle has-tip" title="En maintenance"></i>
                                </div>
                            </true>
                        </check>
                        <check if="{{ @event.status==3 }}">
                            <true>
                                <div class="deactivated-mode">
                                    <i class="glyphicon glyphicon-minus-sign has-tip" title="Archivé"></i>
                                </div>
                            </true>
                        </check>
                    </div>

                    <div class="panel-body">
                        <small>{{ @event.lieu }}</small>
                        <br>
                        <small>{{ strftime("%A %d %B %G", strtotime(@event.debut)) }}</small>

                        <check if="{{ (isset(@allMyEvents.hosted) && in_array(@event.eid, @allMyEvents.hosted)) || @SESSION.lvl==1 }}">

                            <div class="body-heading stats">
                                <check if="{{ isset(@stats[@event.eid]->nbInvValidated) }}">
                                    {{ @stats[@event.eid]->nbInvValidated }}
                                    <check if="{{ @stats[@event.eid]->nbInvValidated > 1 }}">
                                        <true>
                                            {{ @invitations[@l] }} {{ @validated_fem_plur[@l] }}
                                        </true>
                                        <false>
                                            {{ @invitation[@l] }} {{ @validated_fem[@l] }}
                                        </false>
                                    </check>
                                     sur {{ @stats[@event.eid]->nbGuestsTotal }} 
                                </check>
                            </div>

                            <div class="body-bars stats row-fluid pull-left widful l1">
                                <div class="stats_response col-xs-7 col-sm-7 col-md-7 col-lg-7 padnon">
                                    <h4>{{ @answers[@l] }}</h4>
                                    <div class="record first _1">
                                        <div class="bar _1" style="height:{{@stats[@event.eid]->nbGuestsAnswerYes!=0 ? intval((@stats[@event.eid]->nbGuestsAnswerYes/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
                                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerYes }}</span>
                                            <span class="legend">{{ @presents[@l] }}</span>
                                        </div>
                                    </div>
                                    <div class="record _2">
                                        <div class="bar _2" style="height:{{ @stats[@event.eid]->nbGuestsAnswerNo!=0 ? intval((@stats[@event.eid]->nbGuestsAnswerNo/@stats[@event.eid]->nbGuestsTotal)*100) : 1 }}% !important;">
                                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerNo }}</span>
                                            <span class="legend">{{ @absents[@l] }}</span>
                                        </div>
                                    </div>
                                    <div class="record _3">
                                        <div class="bar _3" style="height:{{@stats[@event.eid]->nbGuestsAnswerNone!=0 ? intval((@stats[@event.eid]->nbGuestsAnswerNone/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
                                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerNone }}</span>
                                            <span class="legend">{{ @no_answer[@l] }}</span>
                                        </div>
                                    </div>
                                    <div class="record _4">
                                        <div class="bar _4" style="height:{{@stats[@event.eid]->nbGuestsAcc!=0 ? intval((@stats[@event.eid]->nbGuestsAcc/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
                                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAcc }}</span>
                                            <span class="legend">Accomp.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="stats_presence col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <h4>{{ @presence[@l] }}</h4>
                                    <div class="record first _1">
                                        <div class="bar _1" style="height:{{@stats[@event.eid]->nbGuestsPresence!=0 ? intval((@stats[@event.eid]->nbGuestsPresence/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
                                            <span class="digits">{{ @stats[@event.eid]->nbGuestsPresence }}</span>
                                            <span class="legend">{{ @presents[@l] }}</span>
                                        </div>
                                    </div>
                                    <div class="record _2">
                                        <div class="bar _2" style="height:{{ intval(@stats[@event.eid]->nbGuestsAnswerYes - @stats[@event.eid]->nbGuestsPresence)!=0 ? intval(((@stats[@event.eid]->nbGuestsTotal - @stats[@event.eid]->nbGuestsPresence)/@stats[@event.eid]->nbGuestsTotal)*100) : 1 }}% !important;">
                                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerYes - @stats[@event.eid]->nbGuestsPresence }}</span>
                                            <span class="legend">{{ @absents[@l] }}</span>
                                        </div>
                                    </div>
                                    <div class="record _5">
                                        <div class="bar _5" style="height:{{ @stats[@event.eid]->nbGuestsAccPresenceYes!=0 ? intval((@stats[@event.eid]->nbGuestsAccPresenceYes/@stats[@event.eid]->nbGuestsTotal)*100) : 1 }}% !important;">
                                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAccPresenceYes }}</span>
                                            <span class="legend">Accomp.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </check>
                    </div>
                </div>

                <div class="panel-footer padnon">
                    <check if="{{ (isset(@allMyEvents.hosted) && in_array(@event.eid, @allMyEvents.hosted)) || @SESSION.lvl==1 }}">
                        <div class="row marnon invits{{ @SESSION.lvl==3?' botlinks':'' }}">
                            <check if="{{ ( @event.status==1 && @SESSION.lvl<=3 ) || (( @event.status==2 || @event.status==3 ) && @SESSION.lvl<=2 ) }}">
                                <true>
                                    <a href="{{ @BASE.'/event/'.@event.eid.'/show/guests' }}" class="{{ @SESSION.lvl==3 ? 'col-xs-12 botlefriglink' : 'col-xs-6 borderedrig borderedbot' }}">
                                        <check if="{{ @event.debut > @date }}">
                                            <true>
                                                {{ @SESSION.lvl==1 ? @manage_guests[@l] : @manage_my_guests[@l]; }}
                                            </true>
                                            <false>
                                                {{ @SESSION.lvl==1 ? @watch_guests[@l] : @watch_my_guests[@l]; }}
                                            </false>
                                        </check>
                                    </a>
                                </true>
                                <false>
                                    <span class="{{ @SESSION.lvl==3 ? 'col-xs-12 botlefriglink' : 'col-xs-6 borderedrig borderedbot' }} void deactivated">
                                        <check if="{{ @event.debut > @date }}">
                                            <true>
                                                {{ @SESSION.lvl==1 ? @manage_guests[@l] : @manage_my_guests[@l]; }}
                                            </true>
                                            <false>
                                                {{ @SESSION.lvl==1 ? @watch_guests[@l] : @watch_my_guests[@l]; }}
                                            </false>
                                        </check>
                                    </span>
                                </false>
                            </check>

                            <check if="{{ @SESSION.lvl<=2 }}">
                                <true>
                                    <a href="{{ @BASE.'/event/'.@event.eid.'/show/hosts' }}" class="col-xs-6 borderedbot">
                                        <check if="{{ @event.debut > @date }}">
                                            <true>
                                                {{ @manage_hosts[@l] }} <span class="badge">{{@stats[@event.eid]->nbHostsTotal}}</span>
                                            </true>
                                            <false>
                                                {{ @watch_hosts[@l] }} <span class="badge">{{@stats[@event.eid]->nbHostsTotal}}</span>
                                            </false>
                                        </check>
                                    </a>
                                </true>
                            </check>
                        </div>

                        <check if="{{ @SESSION.lvl<=2 }}">
                            <true>
                                <div class="row marnon padnon botlinks">
                                    <check if="{{ ( @event.status==2 && @SESSION.lvl==1 ) || ( @event.status!=2 && ( @SESSION.lvl==1 || @SESSION.lvl==2 )) }}">
                                        <true>
                                            <check if="{{ @event.status==3 }}">
                                                <true>
                                                    <span class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} borderedrig void deactivated botleflink">
                                                        {{ @update[@l] }}
                                                    </span>
                                                </true>
                                                <false>
                                                    <a href="{{ @BASE.'/' }}event/{{ @event.eid }}/update" class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} borderedrig botleflink">
                                                        {{ @update[@l] }}
                                                    </a>
                                                </false>
                                            </check>
                                            
                                            <check if="{{ @SESSION.lvl==1 && @SESSION.c==0 }}">
                                                <span class="col-xs-4 borderedrig void curpoi" data-toggle="modal" data-target="#myModal-delete-{{@event.eid}}">{{ @delete[@l] }}</span>
                                                <div class="modal fade bs-example-modal-sm" id="myModal-delete-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header bornon">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
                                                                    <i class="glyphicon glyphicon-remove-circle"></i> {{ @delete[@l] }} <b class="fonstyita">{{ @event.nom }}</b>
                                                                </h4>
                                                            </div>
                                                            <form action="{{ @BASE.'/event/delete' }}" method="post" class="form-delete" role="form" id="form-delete-{{@event.eid}}">
                                                                <div class="modal-footer bornon padtopnon martopnon">
                                                                    <input type="hidden" name="del" value="d" />
                                                                    <input type="hidden" name="eid" value="{{@event.eid}}">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                                        {{ @cancel[@l] }}
                                                                    </button>
                                                                    <button class="btn btn-danger" type="submit">
                                                                        {{ @event_delete_confirm[@l] }}
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </check>

                                            <check if="{{ @event.status==3 }}">
                                                <true>
                                                    <span class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} void curpoi botriglink" data-toggle="modal" data-target="#myModal-activate-{{@event.eid}}">{{ @activate[@l] }}</span>
                                                    <div class="modal fade bs-example-modal-sm" id="myModal-activate-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header bornon">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
                                                                        <i class="glyphicon glyphicon-ok-circle"></i> {{ @activate[@l] }} <b class="fonstyita">{{ @event.nom }}</b>
                                                                    </h4>
                                                                </div>
                                                                <form action="{{ @BASE.'/event/activate' }}" method="post" class="form-activate" role="form" id="form-activate-{{@event.eid}}">
                                                                    <div class="modal-footer bornon padtopnon martopnon">
                                                                        <input type="hidden" name="act" value="act" />
                                                                        <input type="hidden" name="eid" value="{{@event.eid}}">
                                                                        <input type="hidden" name="status" value="1" />
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                                                            {{ @cancel[@l] }}
                                                                        </button>
                                                                        <button class="btn btn-success" type="submit">
                                                                            {{ @event_activate_confirm[@l] }}
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </true>
                                                <false>
                                                    <span class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} void curpoi botriglink" data-toggle="modal" data-target="#myModal-deactivate-{{@event.eid}}">{{ @deactivate[@l] }}</span>
                                                    <div class="modal fade bs-example-modal-sm" id="myModal-deactivate-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header bornon">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
                                                                        <i class="glyphicon glyphicon-ban-circle"></i> {{ @deactivate[@l] }} <b class="fonstyita">{{ @event.nom }}</b>
                                                                    </h4>
                                                                </div>
                                                                <form action="{{ @BASE.'/event/deactivate' }}" method="post" class="form-deactivate" role="form" id="form-deactivate-{{@event.eid}}">
                                                                    <div class="modal-footer bornon padtopnon martopnon">
                                                                        <input type="hidden" name="dea" value="dea" />
                                                                        <input type="hidden" name="eid" value="{{@event.eid}}">
                                                                        <input type="hidden" name="status" value="3" />
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                                                            {{ @cancel[@l] }}
                                                                        </button>
                                                                        <button class="btn btn-warning" type="submit">
                                                                            {{ @event_deactivate_confirm[@l] }}
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </false>
                                            </check>
                                        </true>
                                        <false>
                                            <span class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} borderedrig deactivated void botleflink" title="{{@nocredential_rights[@l]}}">
                                                {{ @update[@l] }}
                                            </span>

                                            <check if="{{ @SESSION.lvl==1 && @SESSION.c==0 }}">
                                                <span class="col-xs-4 borderedrig deactivated void" title="{{@nocredential_rights[@l]}}">
                                                    {{ @delete[@l] }}
                                                </span>
                                            </check>

                                            <span class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} deactivated void botriglink" title="{{@nocredential_rights[@l]}}">
                                                {{ @deactivate[@l] }}
                                            </span>
                                        </false>
                                    </check>
                                </div>
                            </true>
                        </check>

                    </check>

                    <?php /*
                    <check if="{{ (isset(@allMyEvents.invited) && in_array(@event.eid, @allMyEvents.invited)) }}">

                        <div class="row marnon padnon">
                            <check if="{{ @event.limitB > @date }}">
                                <true>
                                    <a href="{{ @BASE.'/event/'.@event.eid.'/show/hosts' }}" class="col-xs-4 borderedtop">
                                    </a> 
                                    <a href="{{ @BASE.'/event/'.@event.eid.'/show/hosts' }}" class="col-xs-4 borderedtop">
                                    </a> 
                                    <a href="{{ @BASE.'/event/'.@event.eid.'/show/hosts' }}" class="col-xs-4 borderedtop">
                                    </a>    
                                </true>
                                <false>
                                    <span class="deactivated void" title="{{@event_over[@l]}}">
                                        {{ @registration_over[@l] }}
                                    </span>
                                </false>
                            </check>
                        </div>

                    </check>
                    */ ?>
                </div>

            </div>
        </div>
    </repeat>
</repeat>