<h2 class="page-heading">
    {{ @page_header }}
    <check if="{{ @SESSION.lvl <= 2 }}">
        <a href="{{ @BASE.'/event/create' }}" class="veralimid backto" title="{{ @event_create[@l] }}">
            <i class="glyphicon glyphicon-record glyphicon-black"></i>
        </a>
    </check>
</h2>

<check if="{{ isset(@SESSION.errors) && count(@SESSION.errors)>0 }}">
    <include href="globalerrors.htm" />
</check>

<check if="{{ isset(@SESSION.msg) && strlen(@SESSION.msg)>1 }}">
    <include href="forminfos.htm" />
</check>

<repeat group="{{ @lists }}" key="{{ @annee }}" value="{{ @events }}" counter="{{ @ctr }}">
    <h3 class="pull-left disblo widful{{ @ctr > 1 ? ' grid-group-heading':'' }}">{{ @annee }}</h3>
    <repeat group="{{ @events }}" key="{{ @key }}" value="{{ @event }}" counter="{{@ct}}">
        <div class="pull-left col-md-4 col-lg-4 panel-grid{{ @event.status==3?' deactivated':(@event.status==2?' maintenance':'') }}{{ ' grid'.@ct%3 }}{{ @ct%2==0?' even':' odd' }}">
            <div class="panel panel-default panel-{{ @event.eid }} lv{{@SESSION.lvl}} {{ isset(@allMyEvents.hosted) && !in_array(@event.eid, @allMyEvents.hosted) ? 'invited' : ''}}">
                <div class="head-block{{ @SESSION.c==0?' sadm':'' }}">
                    <div class="panel-heading">
                        <check if="{{ @SESSION.lvl <= 3 && ((isset(@allMyEvents.hosted) && in_array(@event.eid, @allMyEvents.hosted)) || @SESSION.lvl==1) }}">
                            <true>
                                <a href="{{ @BASE.'/event/'.@event.eid.'/show' }}">{{ @event.nom }}&nbsp;<i class="glyphicon glyphicon-chevron-right padlef10"></i></a>
                            </true>
                            <false>
                                {{ @event.nom }}
                            </false>
                        </check>
                        <check if="{{ @event.status==2 }}">
                            <true>
                                <div class="maintenance-mode">
                                    <i class="glyphicon glyphicon-ban-circle has-tip" title="En maintenance"></i>
                                </div>
                            </true>
                        </check>
                        <check if="{{ @event.status==3 }}">
                            <true>
                                <div class="deactivated-mode">
                                    <i class="glyphicon glyphicon-minus-sign has-tip" title="Archivé"></i>
                                </div>
                            </true>
                        </check>
                    </div>

                    <div class="panel-body">
                        <small>{{ @event.lieu }}</small>
                        <br>
                        <small>{{ Controller::displayDate(@event.debut) }}</small>

                        <check if="{{ (isset(@allMyEvents.hosted) && in_array(@event.eid, @allMyEvents.hosted)) || @SESSION.lvl==1 }}">

                            <div class="body-heading stats">
                                <check if="{{ isset(@stats[@event.eid]->nbInvValidated) }}">
                                    {{ @stats[@event.eid]->nbInvValidated }}
                                    <check if="{{ @stats[@event.eid]->nbInvValidated > 1 }}">
                                        <true>
                                            <span class="hidden-xs">{{ @invitations[@l] }} {{ @validated_fem_plur[@l] }}</span><span class="hidden-sm hidden-md hidden-lg">inv. val. / </span>
                                        </true>
                                        <false>
                                            <span class="hidden-xs">{{ @invitation[@l] }} {{ @validated_fem[@l] }}</span><span class="hidden-sm hidden-md hidden-lg">inv. val. / </span>
                                        </false>
                                    </check>
                                     <span class="hidden-xs">sur</span> {{ @stats[@event.eid]->nbGuestsTotal }}
                                </check>
                            </div>
                            <div class="body-bars stats row-fluid pull-left widful l1">
                                <div class="stats_response col-xs-7 col-sm-7 col-md-7 col-lg-7 padnon">
                                    <h4>{{ @answers[@l] }} <i class="glyphicon glyphicon-bookmark"></i></h4>
                                    <div class="record first _1">
                                        <div class="bar _1" style="height:{{@stats[@event.eid]->nbGuestsAnswerYes!=0 ? intval((@stats[@event.eid]->nbGuestsAnswerYes/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
                                            <check if="{{@stats[@event.eid]->nbGuestsAnswerYes>0}}">
                                                <true>
                                                    <a href="{{ @BASE . '/event/' . @event.eid . '/show/guests/answer/1' }}">
                                                        <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerYes }}</span>
                                                        <span class="legend">{{ @presents[@l] }}</span>
                                                    </a>
                                                </true>
                                                <false>
                                                    <span class="digits">0</span>
                                                    <span class="legend">{{ @presents[@l] }}</span>
                                                </false>
                                            </check>
                                        </div>
                                    </div>
                                    <div class="record _2">
                                        <div class="bar _2" style="height:{{ @stats[@event.eid]->nbGuestsAnswerNo!=0 ? intval((@stats[@event.eid]->nbGuestsAnswerNo/@stats[@event.eid]->nbGuestsTotal)*100) : 1 }}% !important;">
                                            <check if="{{ @stats[@event.eid]->nbGuestsAnswerNo > 0 }}">
                                                <true>
                                                    <a href="{{ @BASE . '/event/' . @event.eid . '/show/guests/answer/2' }}">
                                                        <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerNo }}</span>
                                                        <span class="legend">{{ @absents[@l] }}</span>
                                                    </a>
                                                </true>
                                                <false>
                                                    <span class="digits">0</span>
                                                    <span class="legend">{{ @absents[@l] }}</span>
                                                </false>
                                            </check>
                                        </div>
                                    </div>
                                    <div class="record _3">
                                        <div class="bar _3" style="height:{{@stats[@event.eid]->nbGuestsAnswerNone!=0 ? intval((@stats[@event.eid]->nbGuestsAnswerNone/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
                                            <check if="{{ @stats[@event.eid]->nbGuestsAnswerNone > 0 }}">
                                                <true>
                                                    <a href="{{ @BASE . '/event/' . @event.eid . '/show/guests/answer/0' }}">
                                                        <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerNone }}</span>
                                                        <span class="legend">{{ @no_answer[@l] }}</span>
                                                    </a>
                                                </true>
                                                <false>
                                                    <span class="digits">0</span>
                                                    <span class="legend">{{ @no_answer[@l] }}</span>
                                                </false>
                                            </check>
                                        </div>
                                    </div>
                                    <div class="record _4">
                                        <div class="bar _4" style="height:{{@stats[@event.eid]->nbGuestsAcc!=0 ? intval((@stats[@event.eid]->nbGuestsAcc/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
                                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAcc }}</span>
                                            <span class="legend">Accomp.</span>
                                        </div>
                                    </div>
                                </div>
                                <check if="{{ @event.fin < @date }}">
	                    			<!-- Present -->
	                                <div class="stats_presence col-xs-5 col-sm-5 col-md-5 col-lg-5">
	                                    <h4>{{ @presence[@l] }} <i class="glyphicon glyphicon-flash"></i></h4>
	                                    <div class="record first _1">
	                                        <div class="bar _1" style="height:{{@stats[@event.eid]->nbGuestsPresenceYes!=0 ? intval((@stats[@event.eid]->nbGuestsPresenceYes/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
	                                            <check if="{{ @event.fin < @date }}">
	                                                <true>
	                                                    <a href="{{ @BASE . '/event/' . @event.eid . '/show/guests/presence/1' }}">
	                                                        <span class="digits">{{ @stats[@event.eid]->nbGuestsPresenceYes }}</span>
	                                                        <span class="legend">{{ @presents[@l] }}</span>
	                                                    </a>
	                                                </true>
	                                                <false>
	                                                    <span class="digits">0</span>
	                                                    <span class="legend">{{ @presents[@l] }}</span>
	                                                </false>
	                                            </check>
	                                        </div>
	                                    </div>
	                                    <div class="record _2">
	                                        <div class="bar _2" style="height:{{ intval(@stats[@event.eid]->nbGuestsAnswerYes - @stats[@event.eid]->nbGuestsPresenceNo)!=0 ? intval(((@stats[@event.eid]->nbGuestsTotal - @stats[@event.eid]->nbGuestsPresenceNo)/@stats[@event.eid]->nbGuestsTotal)*100) : 1 }}% !important;">
	                                            <check if="{{ @event.fin < @date }}">
	                                                <true>
	                                                    <a href="{{ @BASE . '/event/' . @event.eid . '/show/guests/presence/2' }}">
	                                                        <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerYes - @stats[@event.eid]->nbGuestsPresenceNo }}</span>
	                                                        <span class="legend">{{ @absents[@l] }}</span>
	                                                    </a>
	                                                </true>
	                                                <false>
	                                                    <span class="digits">0</span>
	                                                    <span class="legend">{{ @absents[@l] }}</span>
	                                                </false>
	                                            </check>
	                                        </div>
	                                    </div>
	                                    <div class="record _5">
	                                        <div class="bar _5" style="height:{{ @stats[@event.eid]->nbGuestsAccPresenceYes!=0 ? intval((@stats[@event.eid]->nbGuestsAccPresenceYes/@stats[@event.eid]->nbGuestsTotal)*100) : 1 }}% !important;">
	                                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAccPresenceYes }}</span>
	                                            <span class="legend">Accomp.</span>
	                                        </div>
	                                    </div>
	                                </div>
	                        	</check>
                            </div>

                        </check>

                        <check if="{{ (isset(@allMyEvents.invited) && in_array(@event.eid, @allMyEvents.invited)) }}">

							<div class="body-invites-container">
								<small>{{ @invited_by[@l] }} : </small>
								<repeat group="{{ @allMyEvents.invitations[@event.eid].hostid }}" key="{{ @currentKey }}" value="{{ @currentHost }}">
		                            <div class="body-invites">
		                                <small>{{ @currentHost == @SESSION.uid  ? '<em>'.@invited_myself[@l].'</em>' : '<em>&raquo;&nbsp;<a href="'.@BASE.'/user/'.@currentHost.'/show">'.@allMyEvents.invitations[@event.eid].hostname[@currentKey].'</a></em>' }}</small>
		                            </div>

								</repeat>
							</div>

                        </check>

                    </div>


	                <div class="panel-footer padnon">

	                    <check if="{{ (isset(@allMyEvents.hosted) && in_array(@event.eid, @allMyEvents.hosted)) || @SESSION.lvl==1 }}">
	                        <check if="{{ @SESSION.c==0 }}">
	                            <false>
	                                <div class="row marnon invits{{ @SESSION.lvl==3?' botlinks':'' }}">

	                                    <check if="{{ @SESSION.lvl<=2 }}">
	                                        <true>
	                                            <a href="{{ @BASE.'/event/'.@event.eid.'/show/hosts' }}" class="col-xs-6 borderedrig borderedbot btn-default">
	                                                <check if="{{ @event.debut > @date }}">
	                                                    <true>
	                                                        {{ '<span class="hidden-xs">'.@manage[@l].'</span> '.@_hosts[@l] }} <small class="baccolgreyd borrad10 pad2-5 nocolr">{{@stats[@event.eid]->nbHostsTotal}}</small>
	                                                    </true>
	                                                    <false>
	                                                        {{ '<span class="hidden-xs">'.@watch[@l].'</span> '.@_hosts[@l] }} <small class="baccolgreyd borrad10 pad2-5 nocolr">{{@stats[@event.eid]->nbHostsTotal}}</small>
	                                                    </false>
	                                                </check>
	                                            </a>
	                                        </true>
	                                    </check>

	                                    <check if="{{ (@event.status==1 && @SESSION.lvl<=3) || (( @event.status==2 || @event.status==3 ) && @SESSION.lvl <= 2 ) }}">
	                                        <true>
	                                            <a href="{{ @BASE.'/event/'.@event.eid.'/show/guests' }}" class="{{ @SESSION.lvl==3 ? 'col-xs-12'.(isset(@allMyEvents.invited) && in_array(@event.eid, @allMyEvents.invited) && !in_array(@SESSION.uid, @allMyEvents.invitations[@event.eid].hostid) ?' borderedbot':' botlefriglink') : 'col-xs-6 borderedbot' }} btn-default">
	                                                <check if="{{ @event.debut > @date }}">
	                                                    <true>
	                                                        {{ @SESSION.lvl==1 ? '<span class="hidden-xs">'.@manage[@l].'</span> '.@_guests[@l] : '<span class="hidden-xs">'.@manage[@l].'</span> <span>'.@_my_guests[@l].'</span>'; }}
	                                                        <small class="baccolgreyd borrad10 pad2-5 nocolr">{{@stats[@event.eid]->nbGuestsTotal}}</small>
	                                                    </true>
	                                                    <false>
	                                                        {{ @SESSION.lvl==1 ? '<span class="hidden-xs">'.@watch[@l].'</span> '.@_guests[@l] : '<span class="hidden-xs">'.@watch[@l].'</span> <span>'.@_my_guests[@l].'</span>'; }}
	                                                        <small class="baccolgreyd borrad10 pad2-5 nocolr">{{@stats[@event.eid]->nbGuestsTotal}}</small>
	                                                    </false>
	                                                </check>
	                                            </a>
	                                        </true>
	                                        <false>
	                                            <span class="{{ @SESSION.lvl==3 ? 'col-xs-12'.(isset(@allMyEvents.invited) && in_array(@event.eid, @allMyEvents.invited) && !in_array(@SESSION.uid, @allMyEvents.invitations[@event.eid].hostid) ?' borderedbot':' botlefriglink') : 'col-xs-6 borderedrig borderedbot' }} void deactivated">
	                                                <check if="{{ @event.debut > @date }}">
	                                                    <true>
	                                                        {{ @SESSION.lvl==1 ? '<span class="hidden-xs">'.@manage[@l].'</span> '.@_guests[@l] : '<span class="hidden-xs">'.@manage[@l].'</span> <span>'.@_my_guests[@l].'</span>'; }}
	                                                    </true>
	                                                    <false>
	                                                        {{ @SESSION.lvl==1 ? '<span class="hidden-xs">'.@watch[@l].'</span> '.@_guests[@l] : '<span class="hidden-xs">'.@watch[@l].'</span> <span>'.@_my_guests[@l].'</span>'; }}
	                                                    </false>
	                                                </check>
	                                            </span>
	                                        </false>
	                                    </check>

	                                </div>
	                            </false>
	                        </check>

	                        <check if="{{ @SESSION.lvl<=2 }}">
	                            <true>
	                                <div class="row marnon padnon botlinks">
	                                    <check if="{{ (@event.status==2 && @SESSION.lvl==1) || (@event.status!=2 && (@SESSION.lvl==1 || @SESSION.lvl==2)) }}">
	                                        <true>
	                                            <check if="{{ @event.status==3 }}">
	                                                <true>
	                                                    <span class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} borderedrig void deactivated botleflink">
	                                                        {{ @update[@l] }}
	                                                    </span>
	                                                </true>
	                                                <false>
	                                                    <a href="{{ @BASE.'/' }}event/{{ @event.eid }}/update" class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} borderedrig botleflink btn-default">
	                                                        {{ @update[@l] }}
	                                                    </a>
	                                                </false>
	                                            </check>

	                                            <check if="{{ @SESSION.lvl==1 && @SESSION.c==0 }}">
	                                                <span class="col-xs-4 borderedrig void curpoi btn-default" data-toggle="modal" data-target="#myModal-delete-{{@event.eid}}">{{ @delete[@l] }}</span>
	                                                <div class="modal fade bs-example-modal-sm" id="myModal-delete-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
	                                                    <div class="modal-dialog">
	                                                        <div class="modal-content">
	                                                            <div class="modal-header bornon">
	                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                                                                <h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
	                                                                    <i class="glyphicon glyphicon-remove-circle"></i> {{ ucfirst(@delete[@l]) }} {{ strtolower(@the_event[@l]) }} <b class="fonstyita">{{ @event.nom }}</b>
	                                                                </h4>
	                                                            </div>
	                                                            <form action="{{ @BASE.'/event/delete' }}" method="post" class="form-delete" role="form" id="form-delete-{{@event.eid}}">
	                                                                <div class="modal-footer bornon padtopnon martopnon">
	                                                                    <input type="hidden" name="del" value="d" />
	                                                                    <input type="hidden" name="eid" value="{{@event.eid}}">
	                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
	                                                                        {{ @cancel[@l] }}
	                                                                    </button>
	                                                                    <button class="btn btn-danger" type="submit">
	                                                                        {{ @event_delete_confirm[@l] }}
	                                                                    </button>
	                                                                </div>
	                                                            </form>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </check>

	                                            <check if="{{ @event.status==3 }}">
	                                                <true>
	                                                    <span class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} void curpoi botriglink btn-default" data-toggle="modal" data-target="#myModal-activate-{{@event.eid}}">{{ @activate[@l] }}</span>
	                                                    <div class="modal fade bs-example-modal-sm" id="myModal-activate-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
	                                                        <div class="modal-dialog">
	                                                            <div class="modal-content">
	                                                                <div class="modal-header bornon">
	                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                                                                    <h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
	                                                                        <i class="glyphicon glyphicon-ok-circle"></i> {{ @activate[@l] }} <b class="fonstyita">{{ @event.nom }}</b>
	                                                                    </h4>
	                                                                </div>
	                                                                <form action="{{ @BASE.'/event/activate' }}" method="post" class="form-activate" role="form" id="form-activate-{{@event.eid}}">
	                                                                    <div class="modal-footer bornon padtopnon martopnon">
	                                                                        <input type="hidden" name="act" value="act" />
	                                                                        <input type="hidden" name="eid" value="{{@event.eid}}">
	                                                                        <input type="hidden" name="status" value="1" />
	                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">
	                                                                            {{ @cancel[@l] }}
	                                                                        </button>
	                                                                        <button class="btn btn-success" type="submit">
	                                                                            {{ @event_activate_confirm[@l] }}
	                                                                        </button>
	                                                                    </div>
	                                                                </form>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </true>
	                                                <false>
	                                                    <span class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} void curpoi botriglink btn-default" data-toggle="modal" data-target="#myModal-deactivate-{{@event.eid}}">{{ @deactivate[@l] }}</span>
	                                                    <div class="modal fade bs-example-modal-sm" id="myModal-deactivate-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
	                                                        <div class="modal-dialog">
	                                                            <div class="modal-content">
	                                                                <div class="modal-header bornon">
	                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                                                                    <h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
	                                                                        <i class="glyphicon glyphicon-ban-circle"></i> {{ @deactivate[@l] }} <b class="fonstyita">{{ @event.nom }}</b>
	                                                                    </h4>
	                                                                </div>
	                                                                <form action="{{ @BASE.'/event/deactivate' }}" method="post" class="form-deactivate" role="form" id="form-deactivate-{{@event.eid}}">
	                                                                    <div class="modal-footer bornon padtopnon martopnon">
	                                                                        <input type="hidden" name="dea" value="dea" />
	                                                                        <input type="hidden" name="eid" value="{{@event.eid}}">
	                                                                        <input type="hidden" name="status" value="3" />
	                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">
	                                                                            {{ @cancel[@l] }}
	                                                                        </button>
	                                                                        <button class="btn btn-warning" type="submit">
	                                                                            {{ @event_deactivate_confirm[@l] }}
	                                                                        </button>
	                                                                    </div>
	                                                                </form>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </false>
	                                            </check>
	                                        </true>
	                                        <false>
	                                            <span class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} borderedrig deactivated void botleflink" title="{{@nocredential_rights[@l]}}">
	                                                {{ @update[@l] }}
	                                            </span>

	                                            <check if="{{ @SESSION.lvl==1 && @SESSION.c==0 }}">
	                                                <span class="col-xs-4 borderedrig deactivated void" title="{{@nocredential_rights[@l]}}">
	                                                    {{ @delete[@l] }}
	                                                </span>
	                                            </check>

	                                            <span class="{{ @SESSION.lvl==1 && @SESSION.c==0 ? 'col-xs-4' : 'col-xs-6' }} deactivated void botriglink" title="{{@nocredential_rights[@l]}}">
	                                                {{ @deactivate[@l] }}
	                                            </span>
	                                        </false>
	                                    </check>
	                                </div>
	                            </true>
	                        </check>

	                    </check>

	                    <check if="{{ (isset(@allMyEvents.invited) && in_array(@event.eid, @allMyEvents.invited) && @allMyEvents.invitations[@event.eid].hostid != @SESSION.uid) }}">

	                        <div class="row marnon padnon botlinks">
	                            <check if="{{ @event.limitB > @date }}">

	                                <true>
	                                    <a class="col-xs-4 void default botleflink borderedrig btn-default" role="menuitem" tabindex="-1" href="{{ @BASE }}/event/{{ @event.eid }}/guest/{{ @allMyEvents.invitations[@event.eid].invitationids }}/0/events">
	                                        <span class="verb{{(@allMyEvents.invitations[@event.eid].answer.0==0 ? ' glyphicon glyphicon-ok':'')}}">
	                                            <span class="legend1 textracap">
	                                                {{@no_answer[@l]}}
	                                            </span>
	                                            <span class="legend2 textracap">
	                                                {{@waiting[@l]}}
	                                            </span>
	                                        </span>
	                                    </a>

	                                    <a class="col-xs-4 void default borderedrig btn-default" role="menuitem" tabindex="-1" href="{{ @BASE }}/event/{{ @event.eid }}/guest/{{ @allMyEvents.invitations[@event.eid].invitationids }}/1/events">
	                                        <span class="verb{{(@allMyEvents.invitations[@event.eid].answer.0==1 ? ' glyphicon glyphicon-ok':'')}}">
	                                            <span class="legend1 textracap">
	                                                {{@guest_answer_yes[@l]}}
	                                            </span>
	                                            <span class="legend2 textracap">
	                                                {{@attending[@l]}}
	                                            </span>
	                                        </span>
	                                    </a>

	                                    <a class="col-xs-4 void default botriglink btn-default" role="menuitem" tabindex="-1" href="{{ @BASE }}/event/{{ @event.eid }}/guest/{{ @allMyEvents.invitations[@event.eid].invitationids }}/2/events">
	                                        <span class="verb{{(@allMyEvents.invitations[@event.eid].answer.0==2 ? ' glyphicon glyphicon-ok':'')}}">
	                                            <span class="legend1 textracap">
	                                                {{@guest_answer_no[@l]}}
	                                            </span>
	                                            <span class="legend2 textracap">
	                                                {{@missing[@l]}}
	                                            </span>
	                                        </span>
	                                    </a>

	                                </true>
	                                <false>
	                                    <span class="botlefriglink disblo deactivated void" title="{{ @event_over[@l] }}">
	                                        {{ @allMyEvents.invitations[@event.eid].answer.0==0 ? [$@INVANSWER[0]][0][@l] : [$@INVANSWERED[@allMyEvents.invitations[@event.eid].answer[0]]][0][@l] }}
	                                    </span>
	                                </false>
	                            </check>
	                        </div>

	                    </check>

	                </div>
	             </div>
            </div>
        </div>
    </repeat>
</repeat>