<h2 class="page-heading marbotnon">
	{{ @page_header }}&nbsp;<i class="glyphicon glyphicon-chevron-right padlef10"></i>
	</a>
</h2>
<small class="dimgra">
	<span class="textraupp">{{ @date_start[@l] }}</span> : {{ strftime("%A %d %B %G", strtotime(@event.debut)) }}
</small>
<br>
<small class="dimgra">
	<span class="textraupp">{{ @limit_displayed[@l] }}</span> : {{ strftime("%A %d %B %G", strtotime(@event.limitB)) }}
</small>
<br>
<small class="dimgra">
	<span class="textraupp">{{ @date_end[@l] }}</span> : {{ strftime("%A %d %B %G", strtotime(@event.fin)) }}
</small>
<br>
<small class="dimgra">
	<span class="textraupp">{{ @event_place[@l] }}</span> : {{ @event.lieu }}
</small>
<br>
<small class="dimgra">
	<span class="textraupp">{{ @event_address[@l] }}</span> : {{ @event.adresse }}
</small>
<br>
<small class="dimgra">
	<span class="textraupp">{{ @event_town[@l] }}</span> : {{ strtoupper(@event.ville) }}
</small>
<br>
<small class="dimgra">
	<span class="textraupp">{{ @status[@l] }}</span> : {{ [$@EVTSTATUS[@event.status]][0][@l] }}
</small>
<br>

<div class="eventlinkslist padbot30 pull-left col-xs-12">
	<br>
	<check if="{{ @SESSION.lvl <= 2 }}">
		<div class="pull-left col-xs-12 row-fluid eventlinks">
			<check if="{{ @SESSION.c == 0 }}">
				<true>
					<!-- 3 colonnes -->
					<!-- col 1 -->
					<check if="{{ @event.status==3 }}">
						<true>
							<span class="col-xs-3 has-check void deactivated">
				                {{ @update[@l] }}
				            </span>
						</true>
						<false>
							<a href="{{ @BASE }}/event/{{ @event.eid }}/update" class="col-xs-3 has-check void deactivated texdecnoni">
				                {{ @update[@l] }}
							</a>
						</false>
					</check>

					<!-- col 2 -->
					<span class="col-xs-4 col-xs-offset-1 has-check void curpoi" data-toggle="modal" data-target="#myModal-delete-{{@event.eid}}">
						{{ @delete[@l] }}
					</span>
					<div class="modal fade bs-example-modal-sm" id="myModal-delete-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header bornon">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
										<i class="glyphicon glyphicon-remove-circle"></i> {{ @delete[@l] }} <b class="fonstyita">{{ @event.nom }}</b>
									</h4>
								</div>
								<form action="{{ @BASE.'/event/delete' }}" method="post" class="form-delete" role="form" id="form-delete-{{@event.eid}}">
									<div class="modal-footer bornon padtopnon martopnon">
										<input type="hidden" name="del" value="d" />
										<input type="hidden" name="eid" value="{{@event.eid}}">
										<button type="button" class="btn btn-default" data-dismiss="modal">
											{{ @cancel[@l] }}
										</button>
										<button class="btn btn-danger" type="submit">
											{{ @event_delete_confirm[@l] }}
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- col 3 -->
					<check if="{{ @event.status==3 }}">
						<true>
							<span class="col-xs-3 col-xs-offset-1 has-check void curpoi" data-toggle="modal" data-target="#myModal-activate-{{@event.eid}}">
								{{ @activate[@l] }}
							</span>
							<div class="modal fade bs-example-modal-sm" id="myModal-activate-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header bornon">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
												<i class="glyphicon glyphicon-ok-circle"></i> {{ @activate[@l] }} <b class="fonstyita">{{ @event.nom }}</b>
											</h4>
										</div>
										<form action="{{ @BASE.'/event/activate' }}" method="post" class="form-activate" role="form" id="form-activate-{{@event.eid}}">
											<div class="modal-footer bornon padtopnon martopnon">
												<input type="hidden" name="act" value="act" />
												<input type="hidden" name="eid" value="{{@event.eid}}">
												<input type="hidden" name="status" value="1" />
												<button type="button" class="btn btn-default" data-dismiss="modal">
													{{ @cancel[@l] }}
												</button>
												<button class="btn btn-success" type="submit">
													{{ @event_activate_confirm[@l] }}
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</true>
						<false>
							<span class="col-xs-3 col-xs-offset-1 has-check void curpoi" data-toggle="modal" data-target="#myModal-deactivate-{{@event.eid}}">
								{{ @deactivate[@l] }}
							</span>
							<div class="modal fade bs-example-modal-sm" id="myModal-deactivate-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header bornon">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
												<i class="glyphicon glyphicon-ban-circle"></i> {{ @deactivate[@l] }} <b class="fonstyita">{{ @event.nom }}</b>
											</h4>
										</div>
										<form action="{{ @BASE.'/event/deactivate' }}" method="post" class="form-deactivate" role="form" id="form-deactivate-{{@event.eid}}">
											<div class="modal-footer bornon padtopnon martopnon">
												<input type="hidden" name="dea" value="dea" />
												<input type="hidden" name="eid" value="{{@event.eid}}">
												<input type="hidden" name="status" value="3" />
												<button type="button" class="btn btn-default" data-dismiss="modal">
													{{ @cancel[@l] }}
												</button>
												<button class="btn btn-warning" type="submit">
													{{ @event_deactivate_confirm[@l] }}
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</false>
					</check>

				</true>
				<false>
					<!-- 2 colonnes -->
					<!-- col 1 -->
					<check if="{{ @event.status==3 }}">
						<true>
							<span class="col-xs-5 has-check void deactivated">
				                {{ @update[@l] }}
				            </span>
						</true>
						<false>
							<a href="{{ @BASE }}/event/{{ @event.eid }}/update" class="col-xs-5 has-check void deactivated texdecnoni">
				                {{ @update[@l] }}
							</a>
						</false>
					</check>

					<!-- col 2 -->
					<check if="{{ @event.status==3 }}">
						<true>
							<span class="pull-right col-xs-5 has-check void curpoi" data-toggle="modal" data-target="#myModal-activate-{{@event.eid}}">
								{{ @activate[@l] }}
							</span>
							<div class="modal fade bs-example-modal-sm" id="myModal-activate-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header bornon">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
												<i class="glyphicon glyphicon-ok-circle"></i> {{ @activate[@l] }} <b class="fonstyita">{{ @event.nom }}</b>
											</h4>
										</div>
										<form action="{{ @BASE.'/event/activate' }}" method="post" class="form-activate" role="form" id="form-activate-{{@event.eid}}">
											<div class="modal-footer bornon padtopnon martopnon">
												<input type="hidden" name="act" value="act" />
												<input type="hidden" name="eid" value="{{@event.eid}}">
												<input type="hidden" name="status" value="1" />
												<button type="button" class="btn btn-default" data-dismiss="modal">
													{{ @cancel[@l] }}
												</button>
												<button class="btn btn-success" type="submit">
													{{ @event_activate_confirm[@l] }}
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</true>
						<false>
							<span class="pull-right col-xs-5 has-check void curpoi" data-toggle="modal" data-target="#myModal-deactivate-{{@event.eid}}">
								{{ @deactivate[@l] }}
							</span>
							<div class="modal fade bs-example-modal-sm" id="myModal-deactivate-{{@event.eid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@event.eid}}" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header bornon">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" id="myModalLabel-{{@event.eid}}">
												<i class="glyphicon glyphicon-ban-circle"></i> {{ @deactivate[@l] }} <b class="fonstyita">{{ @event.nom }}</b>
											</h4>
										</div>
										<form action="{{ @BASE.'/event/deactivate' }}" method="post" class="form-deactivate" role="form" id="form-deactivate-{{@event.eid}}">
											<div class="modal-footer bornon padtopnon martopnon">
												<input type="hidden" name="dea" value="dea" />
												<input type="hidden" name="eid" value="{{@event.eid}}">
												<input type="hidden" name="status" value="3" />
												<button type="button" class="btn btn-default" data-dismiss="modal">
													{{ @cancel[@l] }}
												</button>
												<button class="btn btn-warning" type="submit">
													{{ @event_deactivate_confirm[@l] }}
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</false>
					</check>

				</false>
			</check>
		</div>
	</check>

	<check if="{{ @SESSION.lvl==1 }}">
		<div class="pull-left col-xs-6 row-fluid eventlinks padtop20">
			<a href="{{ '/event/'.@event.eid.'/show/hosts' }}" class="pull-left widful has-check void deactivated texdecnoni">
			    {{ @event_host_list[@l] }} <span class="borrad10 pad2-5 baccolgreye nocolr fonweinori">{{ @stats[@event.eid]->nbHostsTotal }}</span>
			</a>
			<check if="{{ @SESSION.c != 0 }}">
				<check if="{{ @isold===false }}">
					<true>
						<a href="{{ '/event/'.@event.eid.'/add/host' }}" class="pull-left widful has-check void deactivated texdecnoni martop20">
				            {{ @event_host_add[@l] }}
						</a>
						<a href="{{ '/event/'.@event.eid.'/add/new/host' }}" class="pull-left widful has-check void deactivated texdecnoni martop20">
				            {{ @event_host_add_new[@l] }}
						</a>
						<a href="{{ '/event/'.@event.eid.'/import/hosts' }}" class="pull-left widful has-check void deactivated texdecnoni martop20">
				            {{ @event_hosts_import[@l] }}
						</a>
					</true>
					<false>
						<check if="{{ @stats[@event.eid]->nbHostsTotal>0 }}">
							<span class="pull-left widful has-check void texdecnoni martop20 curpoi" data-toggle="modal" data-target="#myModal-exporthosts-{{@event.eid}}">{{ @event_hosts_export[@l] }}</span>
							<include href="event/modal/exporthosts.htm" />
						</check>
					</false>
				</check>
			</check>
		</div>
	</check>

	<check if="{{ @SESSION.lvl <= 3 }}">
		<div class="pull-left {{ @SESSION.lvl==3 ? 'col-xs-12' : 'col-xs-6' }} row-fluid eventlinks padtop20">
			<a href="{{ '/event/'.@event.eid.'/show/guests' }}" class="pull-left widful has-check void deactivated texdecnoni">
			    {{ @event_guest_list[@l] }} <span class="borrad10 pad2-5 baccolgreye nocolr fonweinori">{{ @stats[@event.eid]->nbGuestsTotal }}</span>
			</a>
			<check if="{{ @SESSION.c != 0 }}">
				<check if="{{ @isold===false }}">
					<true>
						<a href="{{ '/event/'.@event.eid.'/add/guest' }}" class="pull-left widful has-check void deactivated texdecnoni martop20">
				            {{ @event_guest_add[@l] }}
						</a>
						<a href="{{ '/event/'.@event.eid.'/add/new/guest' }}" class="pull-left widful has-check void deactivated texdecnoni martop20">
				            {{ @event_guest_add_new[@l] }}
						</a>
						<a href="{{ '/event/'.@event.eid.'/import/guests' }}" class="pull-left widful has-check void deactivated texdecnoni martop20">
				            {{ @event_guests_import[@l] }}
						</a>
					</true>
					<false>
						<check if="{{ @stats[@event.eid]->nbGuestsTotal>0 }}">
							<span class="pull-left widful has-check void texdecnoni martop20 curpoi" data-toggle="modal" data-target="#myModal-exportguests-{{@event.eid}}">{{ @event_guests_export[@l] }}</span>
							<include href="event/modal/exportguests.htm" />
						</check>
					</false>
				</check>
			</check>
		</div>
	</check>
</div>

<check if="{{ @SESSION.lvl <= 3 }}">
	<div class="pull-left padtop10 padrig10 padbot10 padlef10 col-xs-12 panel-event-home">
		<div class="panel panel-default pull-left widful">
			<div class="panel-body">
				<div class="body-heading stats texalicen">
				    <check if="{{ isset(@stats[@event.eid]->nbInvValidated) }}">
				        {{ @stats[@event.eid]->nbInvValidated }}
				        <check if="{{ @stats[@event.eid]->nbInvValidated > 1 }}">
				            <true>
				                <span class="hidden-xs">{{ @invitations[@l] }} {{ @validated_fem_plur[@l] }}</span><span class="hidden-sm hidden-md hidden-lg">inv. val. / </span>
				            </true>
				            <false>
				                <span class="hidden-xs">{{ @invitation[@l] }} {{ @validated_fem[@l] }}</span><span class="hidden-sm hidden-md hidden-lg">inv. val. / </span>
				            </false>
				        </check>
				         <span class="hidden-xs">sur</span> {{ @stats[@event.eid]->nbGuestsTotal }}
				    </check>
				</div>
				<div class="body-bars stats row-fluid pull-left widful l1">
				    <div class="stats_response col-xs-7 col-sm-7 col-md-7 col-lg-7 padnon">
				        <h4>{{ @answers[@l] }} <i class="glyphicon glyphicon-bookmark"></i></h4>
				        <div class="record first _1">
				            <div class="bar _1" style="height:{{@stats[@event.eid]->nbGuestsAnswerYes!=0 ? intval((@stats[@event.eid]->nbGuestsAnswerYes/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
				                <check if="{{@stats[@event.eid]->nbGuestsAnswerYes>0}}">
				                    <true>
				                        <a href="{{ @BASE . '/event/' . @event.eid . '/show/guests/answer/1' }}">
				                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerYes }}</span>
				                            <span class="legend">{{ @presents[@l] }}</span>
				                        </a>
				                    </true>
				                    <false>
				                        <span class="digits">0</span>
				                        <span class="legend">{{ @presents[@l] }}</span>
				                    </false>
				                </check>
				            </div>
				        </div>
				        <div class="record _2">
				            <div class="bar _2" style="height:{{ @stats[@event.eid]->nbGuestsAnswerNo!=0 ? intval((@stats[@event.eid]->nbGuestsAnswerNo/@stats[@event.eid]->nbGuestsTotal)*100) : 1 }}% !important;">
				                <check if="{{ @stats[@event.eid]->nbGuestsAnswerNo > 0 }}">
                                    <true>
                                        <a href="{{ @BASE . '/event/' . @event.eid . '/show/guests/answer/2' }}">
                                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerNo }}</span>
                                            <span class="legend">{{ @absents[@l] }}</span>
                                        </a>
                                    </true>
                                    <false>
                                        <span class="digits">0</span>
                                        <span class="legend">{{ @absents[@l] }}</span>
                                    </false>
                                </check>
				            </div>
				        </div>
				        <div class="record _3">
				            <div class="bar _3" style="height:{{@stats[@event.eid]->nbGuestsAnswerNone!=0 ? intval((@stats[@event.eid]->nbGuestsAnswerNone/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
				                <check if="{{ @stats[@event.eid]->nbGuestsAnswerNone > 0 }}">
	                                <true>
	                                    <a href="{{ @BASE . '/event/' . @event.eid . '/show/guests/answer/0' }}">
	                                        <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerNone }}</span>
	                                        <span class="legend">{{ @no_answer[@l] }}</span>
	                                    </a>
	                                </true>
	                                <false>
	                                    <span class="digits">0</span>
	                                    <span class="legend">{{ @no_answer[@l] }}</span>
	                                </false>
	                            </check>
				            </div>
				        </div>
				        <div class="record _4">
				            <div class="bar _4" style="height:{{@stats[@event.eid]->nbGuestsAcc!=0 ? intval((@stats[@event.eid]->nbGuestsAcc/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
				                <span class="digits">{{ @stats[@event.eid]->nbGuestsAcc }}</span>
				                <span class="legend">Accomp.</span>
				            </div>
				        </div>
				    </div>
				    <div class="stats_presence col-xs-5 col-sm-5 col-md-5 col-lg-5">
				        <h4>{{ @presence[@l] }} <i class="glyphicon glyphicon-flash"></i></h4>
				        <div class="record first _1">
				            <div class="bar _1" style="height:{{@stats[@event.eid]->nbGuestsPresence!=0 ? intval((@stats[@event.eid]->nbGuestsPresence/@stats[@event.eid]->nbGuestsTotal)*100) : 1}}% !important;">
				                <check if="{{ @event.fin < @date }}">
				                    <true>
				                        <a href="{{ @BASE . '/event/' . @event.eid . '/show/guests/presence/1' }}">
				                            <span class="digits">{{ @stats[@event.eid]->nbGuestsPresence }}</span>
				                            <span class="legend">{{ @presents[@l] }}</span>
				                        </a>
				                    </true>
				                    <false>
				                        <span class="digits">0</span>
				                        <span class="legend">{{ @presents[@l] }}</span>
				                    </false>
				                </check>
				            </div>
				        </div>
				        <div class="record _2">
				            <div class="bar _2" style="height:{{ intval(@stats[@event.eid]->nbGuestsAnswerYes - @stats[@event.eid]->nbGuestsPresence)!=0 ? intval(((@stats[@event.eid]->nbGuestsTotal - @stats[@event.eid]->nbGuestsPresence)/@stats[@event.eid]->nbGuestsTotal)*100) : 1 }}% !important;">
				                <check if="{{ @event.fin < @date }}">
				                    <true>
				                        <a href="{{ @BASE . '/event/' . @event.eid . '/show/guests/presence/0' }}">
				                            <span class="digits">{{ @stats[@event.eid]->nbGuestsAnswerYes - @stats[@event.eid]->nbGuestsPresence }}</span>
				                            <span class="legend">{{ @absents[@l] }}</span>
				                        </a>
				                    </true>
				                    <false>
				                        <span class="digits">0</span>
				                        <span class="legend">{{ @absents[@l] }}</span>
				                    </false>
				                </check>
				            </div>
				        </div>
				        <div class="record _5">
				            <div class="bar _5" style="height:{{ @stats[@event.eid]->nbGuestsAccPresenceYes!=0 ? intval((@stats[@event.eid]->nbGuestsAccPresenceYes/@stats[@event.eid]->nbGuestsTotal)*100) : 1 }}% !important;">
				                <span class="digits">{{ @stats[@event.eid]->nbGuestsAccPresenceYes }}</span>
				                <span class="legend">Accomp.</span>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</check>

<?php /*
<a href="{{ '/event/'.@event.eid.'/show/guests' }}" class="pull-right veralimid texdecnon postop-10 posrel" title="{{ @backto_event_guest_list[@l] }}">
    <small class="hidden-xs hidden-sm">{{ @backto_event_guest_list[@l] }}</small>
    <i class="glyphicon glyphicon-plus-sign"></i>
</a>
*/ ?>
