<h2 class="page-heading">
    {{ @page_header }} : {{ @group.name }}
    <a href="{{ @BASE.'/group/'.@group.gid.'/show' }}" class="veralimid backto" title="{{ @back_to_groups[@l] }}">
        <i class="glyphicon glyphicon-list-alt"></i>
    </a>
</h2>

<h3 class="pull-left disblo widful page-subheading">
    {{ @add_group_member[@l] }}<br>
    <small>{{ @choose_in_list_user_to_add_to_group[@l] }}</small>
</h3>

<table class="table table-striped responsive-utilities list grouplist">
    <thead>

        <tr>
            <td colspan="6" class="paginate">
                {{ @pagebrowser | raw }}
            </td>
        </tr>

        <check if="{{ !empty(@lists_keys) }}">
            <tr>
                <repeat group="{{ @lists_keys }}" key="{{ @key }}" value="{{ @value }}" counter="{{ @ctr }}">
                    <check if="{{ in_array(@value, ['nomcomplet','societe','fonction','ville','adresse']) }}">
                        <th class="{{ @value }}">
                            <div class="th-wrapper">
                                <div class="flolef padtop10 padrig5 padbot10 padlef5">
                                    {{ @value=='nomcomplet'? @name[@l] : @value }}
                                </div>
                                <div class="sorterwrap" with="<?php $_value=$value=='nomcomplet'?'nom':$value;$k=$$_value; ?>">
                                    <a href="{{ @BASE.'/'.@listtype.'/'.@group.gid.'/add/user/'.@_value.(@_value==@filter && strlen(@filtervalue)>0 ? '/'.@filtervalue:'').'/order/asc' }}"
                                        class="btn btn-link sorter up has-tip-up"
                                        title="{{ @sortby[@l] }} {{ @k[@l] }} [A-Z]">
                                        <i class="sortby glyphicon glyphicon-chevron-up"></i>
                                    </a>
                                    <a href="{{ @BASE.'/'.@listtype.'/'.@group.gid.'/add/user/'.@_value.(strlen(@filtervalue)>0 && @_value==@filter ? '/'.@filtervalue:'').'/order/desc' }}"
                                        class="btn btn-link sorter down has-tip-down"
                                        title="{{ @sortby[@l] }} {{ @k[@l] }} [Z-A]">
                                        <i class="sortby glyphicon glyphicon-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                        </th>
                    </check>
                </repeat>
                <th>&nbsp;</th>
            </tr>
        </check>
    </thead>

    <tbody>
        <check if="{{ @totaux>0 }}">
            <true>
                <repeat group="{{ @lists }}" value="{{ @liste }}">
                    <check if="{{ strlen(trim(@liste.nom)) > 0 }}">
                        <tr>
                            <repeat group="{{ @liste }}" key="{{ @key }}" value="{{ @value }}" counter="{{ @ctr }}">
                                <check if="{{ in_array(@key, ['nomcomplet','societe','fonction','ville','adresse']) }}">
                                    <td class="{{ @key }}">
                                        <span class="disinlblo widful{{ @key=='ville'?' textraupp':'' }}">{{ @value }}</span>
                                    </td>
                                </check>
                            </repeat>
                            <td class="actions texalirig">
                                <span class="btn btn-link curpoi" data-toggle="modal" data-target="#myModal-addtogroup-{{@liste.uid}}" title="{{ @add[@l] }}">
                                    <i class="glyphicon glyphicon-plus glyphicon-black"></i>
                                </span>
                                <!-- addtogroup.htm -->
                                <div class="modal fade bs-example-modal-sm" id="myModal-addtogroup-{{@liste.uid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{@liste.uid}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bornon texalilef">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel-{{ @liste.uid }}">
                                                    <i class="glyphicon glyphicon-exclamation-sign"></i> {{ @add[@l] }} <b class="fonstyita">{{ @liste.nomcomplet }}</b><br>{{ @togroup[@l] }} &laquo;&nbsp;{{ @group.name }}&nbsp;&raquo;
                                                </h4>
                                            </div>
                                            <form action="{{ @BASE.'/group/'.@group.gid.'/add/user' }}" method="post" class="form-delete" role="form" id="form-addtogroup-{{ @liste.uid }}">
                                                <div class="modal-footer bornon padtopnon martopnon">
                                                    <input type="hidden" name="addtogroup" value="a" />
                                                    <input type="hidden" name="groupID" value="{{ @group.gid }}">
                                                    <input type="hidden" name="userID" value="{{ @liste.uid }}">
                                                    <input type="hidden" name="username" value="{{ @liste.nomcomplet }}">
                                                    <input type="hidden" name="groupname" value="{{ @group.name }}">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        {{ @cancel[@l] }}
                                                    </button>
                                                    <button class="btn btn-info" type="submit">
                                                        {{ @group_addto_confirm[@l] }}
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </check>
                </repeat>

                <check if="{{ @totaux > 30 }}">
                    <tr>
                        <td colspan="6" class="paginate bottom_pager">
                            {{ @pagebrowser | raw }}
                        </td>
                    </tr>
                </check>

            </true>
            <false>
                <tr>
                    <td>{{ @no_host[@l] }}</td>
                </tr>
            </false>
        </check>
    </tbody>
</table>
