<form action="{{ @BASE.'/event/'.@event.eid.'/add/new/host' }}" method="post" class="form-complete-profile" role="form">

    <h2 class="page-heading marbotnon">
        <a href="{{ @BASE.'/event/'.@event.eid.'/show' }}">
            <span class="textracap">{{ @eventname[@l] }}</span> : {{ @event.nom }}&nbsp;<i class="glyphicon glyphicon-chevron-right padlef10"></i>
        </a>
    </h2>
    <small class="dimgra"><span class="textraupp">{{ @starting_at[@l] }}</span> : {{ Controller::displayDate(@event.debut) }}</small>
    <br>
    <small class="dimgra"><span class="textraupp">{{ @limit_displayed[@l] }}</span> : {{ Controller::displayDate(@event.limitB) }}</small><br>

    <check if="{{ isset(@SESSION.errors) && count(@SESSION.errors)>0 }}">
        <br>
        <include href="globalerrors.htm" />
    </check>

    <h3 class="pull-left disblo widful page-subheading padtop20 marbotnon">
        {{ @event_host_add_new[@l] }}<br>
        <small>{{ @all_user_host_fields_required[@l] }}</small>
    </h3>

    <fieldset class="first padlefnon padrignon">

        <legend>{{ @host_infos[@l] }}</legend>
        <small class="col-xs-12 padlefnon">{{ @host_infos_required_mark[@l] }}</small>
        <br>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 infos-block infos-block-left">
            <div class="input-group">
            	<span class="input-group-addon first">{{ @gender[@l] }} <span class="required">*</span></span>
        		<input name="civilite" type="text" class="form-control first" placeholder="{{ @gender[@l] }}" value="{{ (@post_has_data && @post_has_data['civilite']?@post_has_data['civilite']:'') }}" required />
        	</div>
            <div class="input-group">
            	<span class="input-group-addon middle">{{ @name[@l] }} <span class="required">*</span></span>
        		<input name="nom" type="text" class="form-control middle" placeholder="{{ @name[@l] }}" value="{{ (@post_has_data && @post_has_data['nom']?@post_has_data['nom']:'') }}" required />
        	</div>
            <div class="input-group">
                <span class="input-group-addon middle">{{ @firstname[@l] }} <span class="required">*</span></span>
                <input name="prenom" type="text" class="form-control middle" placeholder="{{ @firstname[@l] }}" value="{{ (@post_has_data && @post_has_data['prenom']?@post_has_data['prenom']:'') }}" required />
            </div>
            <div class="input-group">
                <span class="input-group-addon middle">{{ @address[@l] }}</span>
                <input name="adresse" type="text" class="form-control middle" placeholder="{{ @address[@l] }}" value="{{(@post_has_data && @post_has_data['adresse']?@post_has_data['adresse']:'') }}" />
            </div>
            <div class="input-group">
                <span class="input-group-addon middle">{{ @town[@l] }}</span>
                <input name="ville" type="text" class="form-control middle" placeholder="{{ @town[@l] }}" value="{{ (@post_has_data && @post_has_data['ville']?@post_has_data['ville']:'') }}" />
            </div>
            <div class="input-group">
                <span class="input-group-addon middle">{{ @zip_code[@l] }}</span>
                <input name="cp" type="text" class="form-control middle" placeholder="{{ @zip_code[@l] }}" value="{{ (@post_has_data && @post_has_data['cp']?@post_has_data['cp']:'') }}" />
            </div>
            <div class="input-group">
            	<span class="input-group-addon end">{{ @country[@l] }}</span>
        		<input name="pays" type="text" class="form-control endrig" placeholder="{{ @country[@l] }}" value="{{ (@post_has_data && @post_has_data['pays']?@post_has_data['pays']:'') }}" />
        	</div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 infos-block infos-block-right">
            <div class="input-group">
                <span class="input-group-addon first">{{@user_mail[@l]}} <span class="required">*</span></span>
                <input name="email" type="email" class="form-control first" placeholder="{{@user_mail[@l]}}" value="{{(@post_has_data && @post_has_data['email']?@post_has_data['email']:'')}}" required />
            </div>
            <div class="input-group">
                <span class="input-group-addon middle">{{@mobile_phone[@l]}}</span>
                <input name="portable" type="number" pattern=".{10}" class="form-control middle" placeholder="{{@mobile_phone_complete[@l]}}" value="{{(@post_has_data && @post_has_data['portable']?@post_has_data['portable']:'')}}">
            </div>
            <div class="input-group">
                <span class="input-group-addon middle">{{@user_phone[@l]}}</span>
                <input name="fixe" type="number" pattern=".{10}" class="form-control middle" placeholder="{{@user_phone_complete[@l]}}" value="{{(@post_has_data && @post_has_data['fixe']?@post_has_data['fixe']:'')}}" />
            </div>
            <div class="input-group">
                <span class="input-group-addon middle">{{@function[@l]}}</span>
                <input name="fonction" type="text" class="form-control middle" placeholder="{{@function[@l]}}" value="{{ (@post_has_data && @post_has_data['fonction']?@post_has_data['fonction']:'') }}" />
            </div>
            <div class="input-group">
                <span class="input-group-addon middle">{{@branch[@l]}}</span>
                <input name="branche" type="text" class="form-control middle" placeholder="{{@branch[@l]}}" value="{{ (@post_has_data && @post_has_data['branche']?@post_has_data['branche']:'') }}" />
            </div>
            <div class="input-group">
            	<span class="input-group-addon middle">BU</span>
            	<input name="BU" type="text" class="form-control middle" placeholder="BU" value="{{ (@post_has_data && @post_has_data['BU']?@post_has_data['BU']:'') }}" />
            </div>
            <div class="input-group">
            	<span class="input-group-addon end">{{@company[@l]}} <span class="required">*</span></span>
        		<input name="societe" type="text" class="form-control endrig" placeholder="{{@company[@l]}}" value="{{(@post_has_data && @post_has_data['societe']?@post_has_data['societe']:'')}}" required />
        	</div>
        </div>

    </fieldset>

    <br>

    <input type="hidden" name="reqprof">

    <div class="pull-left widful">
        <button class="btn btn-success btn-block" type="submit">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{ @save_host[@l] }}
        </button>
        <br>
        <br>
    </div>

</form>